.d-footer {
    width: 1600px;
    height: 1004px;
    opacity: 90%;
    background-color: #FED290;
    margin-top: 100px;
}
.d-position_relative {
    position: relative;
}
.d-position_absolute {
    position: absolute;
    top: 0;
    left: 0;
}
.d-inner_footer {
    Width: 1160px;
    Height: 835px;
    border-radius: 20px;
    margin: 69px 220px 100px 220px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
}
.d-pick_and_feed {
    margin: 41px 347px 0 350px;
    Width: 463px;
    Height: 58px;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #FE9013;
}
.d-we_know_the_animal {
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    color: #333B41;
    width: 843px;
    height: 29px;
    margin: 30px 218px 0 99px;
    font-family: 'Roboto', serif;

}

.d-during_a_time {
    Width: 1061px;
    Height: 21px;
    font-size: 16px;
    line-height: 21px;
    color: #333B41;
    font-family: 'Roboto', serif;
    margin: 40px 0 0 99px;
    font-weight: 500;
}

.d-even_though {
    margin:10px 198px 0 99px;
    Width:863px;
    Height: 42px;
    font-size: 16px;
    line-height: 21px;
    color: #333B41;
    font-weight: 400;
    font-family: 'Roboto', serif;
}
.d-how_it_works {
    margin: 60px 476px 0 475px;
    Width: 209px;
    Height:47px;
    font-size: 36px;
    Line-height: 47px;
    font-weight: 400;
    color: #333B41;
    font-family: 'Roboto', serif;
}

.d-footer_images {
    margin: 40px 198px 0 198px;
}
.d-flex {
    display: flex;
}
.d-align-items {
    align-items: center;
}
.d-testimonials {
    margin: 140px 697px 47px 697px;
    Width: 206px;
    Height: 47px;
    font-Size: 36px;
    font-weight: 400;
    Line-height: 47px;
    color: #333B41;
}

.d-line:hover {
    background-color: #FE9013;
}

.d-line {
    width: 599px;
    height: 8px;
    background-color: lightyellow;
    border-radius: 5px;
    margin: 21px 501px 32px 500px;
}

.d-btn_feedback {
    Width:298px;
    Height:54px;
    background-color: #F9804B;
    color: #FFFFFF;
    border-radius: 5px;
    margin-left: 220px;
    margin-top: 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
}

.d-footer_btn {
    border: 3px #F9804B;
    width: 298px;
    Height: 54px;
    border-radius: 25px;
    background-color: #F9804B;
    margin: 60px 431px 0 431px;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    line-height: 22px;
    text-transform: uppercase;
}
